@media screen and (max-width: 767px) and (min-width: 425px) {
  header {
    flex-direction: row;
    padding: 5px 0;
  }
   
    .navBar {
      
      gap: 5px;
      padding-right: none;
      padding-left: none;
      li {
        
        a {
          font-size: 1.5625rem;
        }
      }
    }
  
  .sectionSegunda h2 {
    text-align: center;
    font-size: 18px;
  }

  .tienda,
  .producto {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin: 10px;
  }
  footer{
    padding: 5px;
    .lincks{
      ul{
        display: contents;
        gap: 5;
        padding-right: .3125rem;
        padding-left: .3125rem;
        
      }
    }
  }
}