@media screen and (max-width: 1023px) and (min-width: 768px)  {
  header {
    padding: 10px 0;
    .navBar {
      display: flex;
      gap: 50px;
      padding-right: 1.875rem;
      padding-left: 1.87rem;
      li {
        a {
          font-size: 1.5625rem;
        }
      }
    }
  }

  .tienda,
  .producto {
    height: auto;
  }
  .seccionPrincipal,
  .textoNosotros{
    height: auto;
  }
  footer{
    padding: 5px;
    .lincks{
      ul{
        display: contents;
        gap: 5;
        padding-right: .625rem;
        padding-left: .625rem;
        
      }
    }
  }
}