
.ofertas-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  
  .section-1 {
    grid-column: 1 / -1;
    background: radial-gradient(circle, rgba(218,224,81,1) 0%, rgba(230,176,12,1) 35%, rgba(255,76,0,1) 100%);
    color: $color-fuentes-principal;
    padding: 40px;
    text-align: center;
  }
  
  .section-2,
  .section-3,
  .section-4,
  .section-5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: radial-gradient(circle, rgba(218,224,81,1) 0%, rgba(230,176,12,1) 35%, rgba(255,76,0,1) 100%);
    padding: 20px;
  }
  
  .section-2 img,
  .section-3 img,
  .section-4 img,
  .section-5 img {
    max-width: 80%;
  }