.seccionPrincipal {
   
    background: radial-gradient(circle, rgba(218,224,81,1) 0%, rgba(230,176,12,1) 35%, rgba(255,76,0,1) 100%);
    width: 100%;
    height: auto;
  }
  .seccionPrincipal h1 {
    text-align: center;
    color: $color-fuentes-principal;
  }
  .seccionPrincipal img {
    float: left;
    border-radius: 30%;
    width: 350px;
    margin-right: 30px;
  }
 
  .textoNosotros {
    font-size: large;
    color: white;
    padding: 10px;
  }
  