button {
    background-color: #3b3ef1;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }